@import "../globals/variables";

.footer-container {
    background-color: #fafafa;
    padding: $standard-padding;
    text-align: center;
    display: block;
}
#logo-footer
    a
        img {
            width: 5em;
            height: 3em;
            @media(min-width: $small-screen) {
                float: left;
            }   
            
        }
.copyright a {
    color: $black; 
    @media (min-width: $small-screen) {
        float: right;
    }  
    
}
.social-links {
    a {
        color: $black;
        font-size: 20px;
        padding: 5px 5px 5px 5px;
        text-decoration: none;
        .fa-facebook-f:hover {
            color: $facebook;
        }
        .fa-instagram:hover {
            color: $instagram;
        }
        .fa-twitter:hover {
            color: $twitter;
        }

    }   
    
}
 
        
