@import "../globals/variables";

/*---------------------------Navigation*/
.navbar-nav {
    margin: $standard-margin $standard-margin 0 0 ;
}
.navbar-light 
    .navbar-nav 
        .nav-link {
            font-size: 1.3em;
}
.navbar-brand
    img{
        width: 5em;
        height: 3em;
        &:hover {
            cursor: pointer;
        }
        @media (min-width: $small-screen) {
            width: 9em;
            height: 5em;
}   }

/*---------------------------Background Image*/
/* Backgroud image. Free for commercial use from https://pixabay.com/photos/city-frankfurt-cityscape-skyscraper-3660779/ */
#landing-picture {
  background:url("../../assests/images/newyork.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 300px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}