@import "../globals/variables";

#topBtn {
    background-color: $white;
    display: none; 
    position: fixed; 
    bottom: 5em; 
    right: 0px; 
    z-index: 99; 
    border-radius: 10px; 
    border: 0.063em solid black;
    @media (min-width: $small-screen) {
        padding: 0.2em;
        right: 5px;
    }
    &:hover {
        background-color: $black; 
        cursor: pointer; 
        .fa-arrow-up {
            color: $white;
        }
    }   
}

