@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  overflow-x: hidden;
}
body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
.container-fluid {
  padding: 0;
}
.btn {
  padding: 0.5em;
}
