@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

html {
    overflow-x: hidden;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.container-fluid {
  padding: 0;
}
.btn {
    padding: 0.5em;
}
