/*---------------------------Fonts*/
$font-large: 32px;
$font-medium: 25px;
$font-small: 12px;

/*---------------------------Margins and paddings*/
$standard-padding: 15px;
$standard-margin: 15px;

/*---------------------------Media Queries*/
$large-screen: 992px;
$medium-screen: 778px;
$small-screen: 767px;