/*---------------------------Fonts*/
$font-large: 32px;
$font-medium: 25px;
$font-small: 12px;

/*---------------------------Margins and paddings*/
$standard-padding: 15px;
$standard-margin: 15px;

/*---------------------------Media Queries*/
$large-screen: 992px;
$medium-screen: 768px;
$small-screen: 600px;

/*---------------------------Colours*/
$white: #ffffff;
$light-grey: #F7F7F7;
$black: #000000;
$facebook: #3b5998;
$instagram: #833AB4;
$twitter: #1da1f2;