/*---------------------------/Components*/
/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
/*---------------------------Navigation*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.navbar-nav {
  margin: 15px 15px 0 0; }

.navbar-light
.navbar-brand {
  color: #3650C8;
  font-size: 3rem;
  display: none; }
  @media (min-width: 750px) {
    .navbar-light
    .navbar-brand {
      display: block; } }

/*---------------------------Background Image*/
/* Backgroud image. Free for commercial use from https://pixabay.com/photos/city-frankfurt-cityscape-skyscraper-3660779/ */
#landing-picture {
  background: url("../../assests/images/newyork.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 300px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; }

/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
.footer-container {
  background-color: #343F4B;
  padding: 15px;
  text-align: center;
  display: block; }

.copyright a {
  color: #ffffff; }

.social-links
a {
  color: #ffffff;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-decoration: none; }

.social-links
a
.fa-facebook-f:hover {
  color: #3b5998; }

.fa-instagram:hover {
  color: #833AB4; }

.fa-twitter:hover {
  color: #1da1f2; }

/*---------------------------/Globals*/
/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
html {
  overflow-x: hidden; }

body {
  font-family: 'Montserrat', sans-serif; }

.container-fluid {
  padding: 0; }

/*---------------------------/Sections*/
/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
#main {
  background-color: #F7F7F7; }

/*---------------------------Form*/
#controls, .form-group {
  margin: 15px;
  display: inline-block; }

.form-group {
  margin: 15px;
  display: inline-block; }

#country, #autocomplete {
  min-width: 250px; }

/*---------------------------Map*/
.map-class {
  position: sticky;
  position: -webkit-sticky;
  /* Safari */
  top: 0;
  width: 40%;
  float: right; }

#map {
  height: 400px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: none; }
  @media (min-width: 750px) {
    #map {
      display: block; } }

/*---------------------------POI buttons*/
.poi-buttons {
  margin: 10px; }

.btn {
  width: 150px;
  border: 1px solid; }
  @media (min-width: 750px) {
    .btn {
      margin: 5px; } }

/*---------------------------Listing*/
#listing {
  margin-top: 15px;
  cursor: pointer;
  overflow-x: hidden; }

.placeIcon {
  display: none;
  width: auto; }
  @media (min-width: 778px) {
    .placeIcon {
      display: block; } }

/*---------------------------InfoWindow*/
#info-content
table
tr
td {
  padding: 0px; }

.iw_table_row {
  height: 18px; }

.iw_attribute_name {
  font-weight: bold;
  text-align: right; }

.iw_table_icon {
  text-align: right; }

.icon {
  width: 24px;
  height: 24px; }

#rating {
  font-size: 12px;
  font-family: Arial Unicode MS; }

/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
/*---------------------------About*/
#about {
  text-align: center; }
  #about h1, #about h3, #about p {
    margin: 15px;
    padding: 15px; }

/*---------------------------Inspire Carousel*/
.carousel-item
img {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; }
  @media (min-width: 750px) {
    .carousel-item
    img {
      height: 400px; } }

/*# sourceMappingURL=main.css.map */
