/*---------------------------/Components*/
/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
/*---------------------------Navigation*/
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.navbar-nav {
  margin: 15px 15px 0 0; }

.navbar-light
.navbar-nav
.nav-link {
  font-size: 1.3em; }

.navbar-brand
img {
  width: 5em;
  height: 3em; }
  .navbar-brand
  img:hover {
    cursor: pointer; }
  @media (min-width: 750px) {
    .navbar-brand
    img {
      width: 9em;
      height: 5em; } }

/*---------------------------Background Image*/
/* Backgroud image. Free for commercial use from https://pixabay.com/photos/city-frankfurt-cityscape-skyscraper-3660779/ */
#landing-picture {
  background: url("../../assests/images/newyork.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 300px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; }

/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
.footer-container {
  background-color: #fafafa;
  padding: 15px;
  text-align: center;
  display: block; }

#logo-footer
a
img {
  width: 5em;
  height: 3em; }
  @media (min-width: 750px) {
    #logo-footer
    a
    img {
      float: left; } }

.copyright a {
  color: #000000; }
  @media (min-width: 750px) {
    .copyright a {
      float: right; } }

.social-links a {
  color: #000000;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-decoration: none; }
  .social-links a .fa-facebook-f:hover {
    color: #3b5998; }
  .social-links a .fa-instagram:hover {
    color: #833AB4; }
  .social-links a .fa-twitter:hover {
    color: #1da1f2; }

/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
#topBtn {
  background-color: #ffffff;
  display: none;
  position: fixed;
  bottom: 5em;
  right: 0px;
  z-index: 99;
  border-radius: 10px;
  border: 2px solid black; }
  @media (min-width: 750px) {
    #topBtn {
      padding: 0.2em;
      right: 5px; } }
  #topBtn:hover {
    background-color: #000000;
    cursor: pointer; }
    #topBtn:hover .fa-arrow-up {
      color: #ffffff; }

/*---------------------------/Globals*/
/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
html {
  overflow-x: hidden; }

body {
  font-family: 'Montserrat', sans-serif; }

.container-fluid {
  padding: 0; }

.btn {
  padding: 0.5em; }

/*---------------------------/Sections*/
/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
#main {
  background-color: #F7F7F7; }

/*---------------------------Form*/
#controls, .form-group {
  margin: 15px;
  display: inline-block; }

.form-group {
  margin: 15px;
  display: inline-block; }

#country, #autocomplete {
  min-width: 250px; }

/*---------------------------Map*/
.map-class {
  float: right; }

#map {
  position: sticky !important;
  position: -webkit-sticky !important;
  /* Safari */
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 15px;
  width: 100%;
  float: right;
  height: 400px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: block; }

/*---------------------------POI buttons*/
#hotel-button, #bar-button, #restaurant-button, #attraction-button, #reset-button, #test-button {
  width: auto; }
  @media (min-width: 750px) {
    #hotel-button, #bar-button, #restaurant-button, #attraction-button, #reset-button, #test-button {
      width: 150px; } }

/*---------------------------Find*/
#find {
  text-align: center; }
  #find h4 {
    margin-top: 15px; }
  #find .find-text {
    margin: 15px;
    padding: 15px; }

/*---------------------------Listing*/
.logo-overlay {
  width: 25em;
  height: 20em;
  margin-top: 3em;
  display: none; }
  @media (min-width: 750px) {
    .logo-overlay {
      display: block; } }

#listing {
  display: none;
  margin-top: 15px;
  cursor: pointer;
  overflow-x: hidden; }
  @media (min-width: 750px) {
    #listing {
      display: block; } }

.results-class {
  float: left; }

.placeIcon {
  width: 45px;
  height: 40px;
  margin: 15px; }

.card {
  margin-bottom: 10px; }

.card-img {
  width: auto; }

/*---------------------------InfoWindow*/
#info-content
table
tr
td {
  padding: 0px; }

.iw_table_row {
  height: 18px; }

.iw_attribute_name {
  font-weight: bold;
  text-align: right; }

.iw_table_icon {
  text-align: right; }

.icon {
  width: 24px;
  height: 24px; }

#rating {
  font-size: 12px;
  font-family: Arial Unicode MS; }

/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
/*---------------------------About*/
#about {
  text-align: center; }
  #about h1, #about h3, #about p {
    margin: 15px;
    padding: 15px; }

/*---------------------------Carousel*/
.carousel-item
img {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; }
  @media (min-width: 750px) {
    .carousel-item
    img {
      height: 400px; } }

/*---------------------------Fonts*/
/*---------------------------Margins and paddings*/
/*---------------------------Media Queries*/
/*---------------------------Colours*/
/*---------------------------Booking*/
#book {
  border-bottom: 1px solid #A9A9A9; }

.form-bg {
  background: url("../../assests/images/bridge.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 300px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  margin-bottom: 30px;
  margin-left: 0px; }

.booking-text {
  text-align: center; }
  .booking-text h2, .booking-text p {
    margin: 15px;
    padding: 15px; }

#booking-form
.form-group {
  display: block;
  margin: 15px; }
  #booking-form
  .form-group label {
    color: #ffffff; }

#submit-form {
  background-color: #ffffff;
  color: #000000;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px; }
  #submit-form:hover {
    text-decoration: underline;
    cursor: pointer; }

/*---------------------------Modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%; }

.close-cross {
  color: #aaa;
  font-size: 2.5em;
  font-weight: bold; }
  .close-cross:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer; }

#close {
  color: #000000; }
  #close:hover {
    text-decoration: underline;
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
