@import "../globals/variables";

#main {
    background-color: $light-grey;
}

/*---------------------------Form*/
#controls, .form-group {
    margin: $standard-margin;
    display: inline-block;
}
.form-group {
    margin: $standard-margin;
    display: inline-block;
}
#country, #autocomplete {
    min-width: 250px;
}

/*---------------------------Map*/
.map-class {
    float: right;
}
#map {
    position: sticky !important;
    position: -webkit-sticky !important; /* Safari */
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: $standard-padding;
    width: 100%;
    float: right;
    height: 400px;
    margin-bottom: $standard-margin;
    margin-top: $standard-margin;
    display: block;
}

/*---------------------------POI buttons*/
#hotel-button, #bar-button, #restaurant-button, #attraction-button, #reset-button, #test-button  {
    width: auto;
    @media (min-width: $small-screen) {
        width: 150px;
}   }

/*---------------------------Find*/
#find {
    text-align: center;
    h4 {
        margin-top: $standard-margin;
    }
    .find-text {
        margin: $standard-margin;
        padding: $standard-padding;
}   }

/*---------------------------Listing*/
.logo-overlay {
    width: 25em;
    height: 20em;
    margin-top: 3em;
    display: none;
    @media (min-width: $small-screen) {
        display: block;
}   }
#listing {
    display: none;
    margin-top: $standard-margin;
    cursor: pointer;
    overflow-x: hidden; 
    @media (min-width: $small-screen) {
        display: block;
}   }
.results-class {
    float: left;
}
.placeIcon {
    width: 45px;
    height: 40px;
    margin: $standard-margin;
}
.card {
    margin-bottom: 10px;
}
.card-img {
    width: auto;
}

/*---------------------------InfoWindow*/
#info-content
    table
        tr
            td {
                padding: 0px;
            }
.iw_table_row {
    height: 18px;
}
.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}
.iw_table_icon {
    text-align: right;
}
.icon {
    width: 24px;
    height: 24px;
}


